<div class="container py-5">
  <div class="row">
    <div class="col-12 bg-light p-2 rounded">
      <h1 class="text-center mt-5">你想對誰說幹話?</h1>
      <form method="POST" action="/" id="talk_form">
        <div class="row mt-5">
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <label for="developer">
                  <img src="/imgs/angry-developer.jpg" class="img-fluid mb-3" alt="img-developer">
                </label>
                <div class="form-check d-flex justify-content-center">
                  <input class="form-check-input" type="radio" name="profession" id="developer" value="developer" {{#ifMatch select 'developer'}}checked{{/ifMatch}}>
                  <label class="form-check-label ms-2" for="developer">
                    工程師
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <label for="designer">
                  <img src="/imgs/angry-designer.jpg" class="img-fluid mb-3" alt="img-designer">
                </label>
                <div class="form-check d-flex justify-content-center">
                  <input class="form-check-input" type="radio" name="profession" id="designer" value="designer" {{#ifMatch select 'designer'}}checked{{/ifMatch}}>
                  <label class="form-check-label ms-2" for="designer">
                    設計師
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <label for="founder">
                  <img src="/imgs/angry-founder.jpg" class="img-fluid mb-3" alt="img-founder">
                </label>
                <div class="form-check d-flex justify-content-center">
                  <input class="form-check-input" type="radio" name="profession" id="founder" value="founder" {{#ifMatch select 'founder'}}checked{{/ifMatch}}>
                  <label class="form-check-label ms-2" for="founder">
                    創業家
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 mt-4 text-end">
            <button class="btn btn-primary" type="submit">產生幹話</button>
          </div>
          <div class="col-8 my-4">
            <div class="form-floating">
              <textarea class="form-control pt-1" placeholder="123" id="floatingTextarea" style="height: 1em">{{ rubbishTalk }}</textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
